// ============= COOKIE POLICY START ==============
.card.cookie-policy
    .card-body
        h5.card-title.fs-3 Cookie Policy
        p.card-text.lead This website uses cookies. By continuing to use this site, you accept our use of cookies.
    .p-2
        a.btn.text-uppercase.text-center.w-100.fw-bold(href='#') Accept &amp; Close
// ============= COOKIE POLICY END ================