footer.footer.bg-brand-black( style="margin-top: 10px;")
    .container
        .row
            .col-lg-10.col-md-12 Copyright © WhyILift.com 2019 All Rights Reserved. All content and information is proprietary.
            .col-lg-2.col-md-12 
                i.fa.fa-envelope
                | &nbsp;
                a(href="mailto:support@whyilift.com"): span.text-muted Contact Us