// ============= FOOTER START ==============
footer.footer.mt-5.bg-brand-red.text-center
    .container.p-5
        .d-flex.flex-horizontal.justify-content-between.flex-wrap
            a.text-white.bg-brand-red.border-0.fs-5.fw-bold.m-1(href='#' style='text-decoration: none;') Site Directory
            a.text-white.bg-brand-red.border-0.fs-5.fw-bold.m-1(href='#' style='text-decoration: none;') State HoF Requirements
            a.text-white.bg-brand-red.border-0.fs-5.fw-bold.m-1(href='#' style='text-decoration: none;') Nomination Form Comp
            a.text-white.bg-brand-red.border-0.fs-5.fw-bold.m-1(href='#' style='text-decoration: none;') Sponsors
            a.text-white.bg-brand-red.border-0.fs-5.fw-bold.m-1(href='#' style='text-decoration: none;') Bio Form
            a.text-white.bg-brand-red.border-0.fs-5.fw-bold.m-1(href='#' style='text-decoration: none;') Upload Photos
        h4.fw-bold.mt-5 Strength and Power Hall Of Fame
        p Copyright © 2020 Strength and Power Hall Of Fame - All Rights Reserved.
// ============= FOOTER END ================