//- Navigation Links    
nav.navbar.navbar-expand-lg.navbar-dark.bg-brand-black
    button.navbar-toggler.collapsed(type="button" data-toggle="collapse" data-target="#main-nav-links" aria-controls="main-nav-links" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
    div#main-nav-links.navbar-collapse.justify-content-md-center.collapse
        ul.navbar-nav
            li.nav-item.main-nav-item.active: a.nav-link(href='#') Home
            li.nav-item.main-nav-item: a.nav-link(href='#') Profiles
            li.nav-item.main-nav-item: a.nav-link(href='#') Pictures
            li.nav-item.main-nav-item: a.nav-link(href='#') Videos
            li.nav-item.main-nav-item: a.nav-link(href='#') Mission
            li.nav-item.main-nav-item: a.nav-link(href='#') Contact Us
//- Logo and Login Links
nav.navbar.navbar-expand-sm.navbar-dark
    a.navbar-brand.mr-auto(href='#')
        //- width='102' height='45'
        img(src='img/logo.png', alt='')
    form.form-inline.my-2.my-lg-0
            button#login-btn.btn.btn-outline-light.my-2.my-sm-0(type='button') Login
            button#create-profile-btn.btn.btn-danger.my-2.my-sm-0(type='button') Create Profile