// ============= NAV START ==============
nav.navbar.navbar-expand-lg.navbar-dark
    .container-fluid
        a.navbar-brand(href='/')
            img.img-fluid(src='img/sphofPortrait_simple_icon.png' style="max-height:48px")
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.me-auto
                li.nav-item: a.nav-link(href='/atlas/home') Home
                li.nav-item: a.nav-link(href='/atlas/our-history') History
                li.nav-item: a.nav-link(href='/atlas/missionstatement') Mission
                li.nav-item: a.nav-link(href='https://strengthandpowerhalloffame.org/state-hof-requirements-1') Requirements
                li.nav-item: a.nav-link(href='/atlas/hof/showForms') Forms
                li.nav-item: a.nav-link(href='https://strengthand-power-hall-of-fame.myshopify.com/') Store
                li.nav-item: a.nav-link(href='/atlas/site-directory') Site Directory
                li.nav-item: a.nav-link(href='/atlas/hof/hofSearchForm') Search
                li.nav-item: a.nav-link(href='https://strengthandpowerhalloffame.org/hof-picture-gallery') HOF Gallery
            button.btn.btn-outline-light(type='button') Admin Login
        span.ms-4.pull-right(style='min-width: 120px;')
            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            a.navbar-brand.mx-1(href='#'): img(src='img/social/facebook.svg')
            a.navbar-brand.mx-1(href='#'): img(src='img/social/instagram.svg')
// ============= NAV END ================