@import "root.css";

body.offcanvas-active {
    overflow: hidden;
}

.offcanvas-header {
    display: none;
}

.screen-darken {
    height: 100%;
    width: 0%;
    z-index: 30;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(34, 34, 34, 0.6);
    transition: opacity .2s linear, visibility 0.2s, width 2s ease-in;
}

.screen-darken.active {
    z-index: 10;
    transition: opacity .3s ease, width 0s;
    opacity: 1;
    width: 100%;
    visibility: visible;
}

nav {
    font-size:  20px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-dark .navbar-brand,
.navbar-brand {
    color: var(--brand-red);
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--bs-white);
}
/* ============ dropdown items ============ */

.dropdown-menu[data-bs-popper] {
    left: -150px;
}
.dropdown-item:focus, .dropdown-item:hover {
    background-color: var(--brand-gray-dark);
    color: var(--brand-red);
}
.dropdown-menu {
    background-color: var(--bs-dark);
}
.dropdown-item {
    color: var(--bs-white);
}

/* ============ mobile view ============ */
@media all and (max-width: 992px) {

    .offcanvas-header {
        display: block;
    }

    .mobile-offcanvas {
        visibility: hidden;
        transform: translateX(-100%);
        border-radius: 0;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 1200;
        width: 80%;
        overflow-y: scroll;
        overflow-x: hidden;
        transition: visibility .3s ease-in-out, transform .3s ease-in-out;
    }

    .mobile-offcanvas.show {
        visibility: visible;
        transform: translateX(0);
    }

    .mobile-offcanvas .container,
    .mobile-offcanvas .container-fluid {
        display: block;
    }

    nav {
        font-size: 23px;
    }

}