@import "root.css";

nav {
    font-family: 'AvenirNext', sans-serif;
    font-size:  20px;
}

.navbar-dark .navbar-brand,
.navbar-brand {
    color: var(--brand-red);
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--bs-white);
}