body {
    background-color: var(--gray);
}

main {
    border: 1px solid var(--secondary);
}

#login-btn {
    margin-right: 5px;
}
#displayheader {
    background-image: url(../img/banner-header.jpg);
    background-size: unset;
    background-position-y: -300px;
}

.page-link {
    color: var(--red);
}
.page-link:hover {
    color: var(--red);
}