:root
{
    --brand-black: #222;
    --brand-red: rgb( 213,60,55);
    --brand-gray: #dfdfdf;
}

.btn-danger {
    background-color: var(--brand-red);
}

.bg-brand-black{
    background-color: var( --brand-black )!important;
    opacity: .85;
}

.bg-brand-red{
    background-color: var( --brand-red )!important;
    opacity: .85;
}


.background-image{
    background-color: gray;
    background-image: url('../img/banner.jpg');
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main-nav-item {
    font-family: 'AvenirNext', sans-serif;
    width: inherit;
    text-decoration: none;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
}

main {
    /*border: 1px solid var(--secondary);*/
}

#login-btn {
    margin-right: 5px;
}
#displayheader {
    background-image: url(../img/banner-header-thin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.page-link {
    color: var(--red);
}
.page-link:hover {
    color: var(--red);
}

.footer{
    bottom: 0;
    width: 100%;
    min-height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    color: white;
}