body {
    background-color: #dfdfdf
}

#login-btn {
    margin-right: 5px;
}
#main-nav {
    /*background-image: url(../img/banner-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -450px;*/
}

main {
    border: 1px solid gray
}