<div class="row mt-5">
  <div class="col">
    <h1 class="fs-1 text-center text-brand-red fst-italic">Our History</h1>
  </div>
</div>
<div class="fs-4">
  <div class="row mt-5">
    <div class="col-12 text-center">
      <img class="img-fluid" src="img/sandphof_logo.webp">
    </div>
    <div class="col-12 text-brand-gray">
      <div class="m-4 p-3">
        <p>The Strength and Power Hall of Fame began in 2014 when a split occurred over whether or not to include
          athletes with a current history of banned drug use. The Strength and Power Hall of Fame does not condone the
          usage or selling of such substances and therefore can not support the induction of those that do. Furthermore,
          the Strength and Power Hall of Fame, in addition to recognizing unique accomplishment, was also founded on the
          guideposts of acknowledging those of outstanding sportsmanship and contribution. Simply stated, our goal is to
          not only recognize the greats in the strength world, but to also honor those who go above and beyond when
          giving back to the community and who promote the growth of our collective number of sports (powerlifting,
          weightlifting, strongman/woman, track and field, wrestling, etc)!</p>
        <p>The Strength and Power Hall of Fame was first conceived when Bill Clark was approached by a top federation
          regarding the creation of a powerlifting hall of fame. Bill, being a powerlifter, but also a former Olympic
          weightlifter and professional strongman believed that such a hall of fame would be better by serving all in
          the strength world--not just powerlifters. Subsequently, Bill respectfully declined the position, but the idea
          of starting an all-inclusive fraternity still lingered. Upon conferring with close friends and strength
          legends Larry Bucchioni and Don Reinhoudt, the three decided that it was time to create a unique hall of fame
          that did just that---honored all strength and power athletes--in all fields and sports, from powerlifters to
          shot putters and discus throwers, to wrestlers, and beyond! Don Reinhoudt was elected as the first President
          to the Strength and Power Hall of Fame, Bill Clark was voted in as Vice President, and Larry Bucchioni served
          as recruitment officer and liaison. Larry quickly brought in trusted professionals and lifters like Eric
          LeBlanc and Rick Bucinell. With their incredible help, the Strength and Power Hall of Fame was up and running.
          What started as a state level honor has now graduated to the national level and plans are underway for world
          expansion! At present, every state is open for nominations. Our fraternity has grown to well over 100 with
          many more on the way!</p>
      </div>
    </div>
  </div>
</div>