<div class="row mt-5">
    <div class="col">
        <h1 class="fs-1 text-center text-brand-red fst-italic">Site Content</h1>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 text-center">
    <div class="col">
        <div class="card bg-black h-100">
            <h4 class="card-header fs-2">State Requirements</h4>
            <div class="card-body">
                <a href="/state-hof-requirements-1" class="brand-button fw-bold btn btn-brand-red">State Requirements</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card bg-black h-100">
            <h4 class="card-header fs-2">Inductees Photos</h4>
            <div class="card-body">
                <a href="/hof-picture-gallery" class="brand-button fw-bold btn btn-brand-red">Photo Gallery</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card bg-black h-100">
            <h4 class="card-header fs-2">Inductees</h4>
            <div class="card-body">
                <a href="/atlas/hof/hofSearchForm" class="brand-button fw-bold btn btn-brand-red">Search</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card bg-black h-100">
            <h4 class="card-header fs-2">Inductees</h4>
            <div class="card-body">
                <a href="/atlas/hof/hofSearchForm" class="brand-button fw-bold btn btn-brand-red">Search</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card bg-black h-100">
            <h4 class="card-header fs-2">Articles- Inductees Bios</h4>
            <div class="card-body">
                <a href="/atlas/article/searchArticles?articleType=2&" class="brand-button fw-bold btn btn-brand-red">Search</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card bg-black h-100">
            <h4 class="card-header fs-2">Articles- Inductees Training</h4>
            <div class="card-body">
                <a href="/atlas/article/searchArticles?articleType=4&" class="brand-button fw-bold btn btn-brand-red">Search</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card bg-black h-100">
            <h4 class="card-header fs-2">Articles- HoF News</h4>
            <div class="card-body">
                <a href="/atlas/article/searchArticles?articleType=3&" class="brand-button fw-bold btn btn-brand-red">Search</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card bg-black h-100">
            <h4 class="card-header fs-2">Forms - Competitor</h4>
            <div class="card-body">
                <a href="/nomination-form-comp" class="brand-button fw-bold btn btn-brand-red">Nomination Form</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card bg-black h-100">
            <h4 class="card-header fs-2">Forms - Contributor</h4>
            <div class="card-body">
                <a href="/nomination-form-contribut" class="brand-button fw-bold btn btn-brand-red">Nomination Form</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card bg-black h-100">
            <h4 class="card-header fs-2">Forms- Bio</h4>
            <div class="card-body">
                <a href="/bio-form" class="brand-button fw-bold btn btn-brand-red">Bio Form</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card bg-black h-100">
            <h4 class="card-header fs-2">Our Mission</h4>
            <div class="card-body">
                <a href="/mission-statement" class="brand-button fw-bold btn btn-brand-red">Mission</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card bg-black h-100">
            <h4 class="card-header fs-2">Our History</h4>
            <div class="card-body">
                <a href="/our-history" class="brand-button fw-bold btn btn-brand-red">History</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card bg-black h-100">
            <h4 class="card-header fs-2">Our Store - Purchase official Hall of Fame Products</h4>
            <div class="card-body">
                <a href="https://strengthand-power-hall-of-fame.myshopify.com/" class="brand-button fw-bold btn btn-brand-red">Shop Now</a>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 pt-5  text-center">
    <div class="col">
        <div class="card bg-black h-100">
            <h4 class="card-header fs-2">The Paul and Glenda Anderson Award</h4>
            <div class="card-body">
                <p>In honor of the Anderson's, the National Strength and Power Hall of Fame is pleased to give an annual award to a strength and power athlete that has selflessly given of him or herself for the benefit of others.</p>
                <a href="/the-anderson-award" class="brand-button fw-bold btn btn-brand-red">Paul Anderson Award</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card bg-black h-100">
            <h4 class="card-header fs-2">Sponsors</h4>
            <div class="card-body">
                <a href="/sponsors" class="brand-button fw-bold btn btn-brand-red">Sponsors</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card bg-black h-100">
            <h4 class="card-header fs-2">Misc Strength Articles</h4>
            <div class="card-body">
                <a href="/atlas/article/searchArticles?articleType=1&" class="brand-button fw-bold btn btn-brand-red">Articles</a>
            </div>
        </div>
    </div>

</div>