<div class="container">
    <div class="row mt-5">
        <div class="col">
            <h1 class="fs-1 text-center text-brand-red fst-italic">Support Our Sponsors</h1>
        </div>
    </div>
    <div class="fs-4">

        <div class="row">

            <div class="col-lg-3 col-md-4 col-6">
                <a href="https://payh.org/" class="d-block mb-4 h-100" target="_blank">
                  <img class="img-fluid" src="https://img1.wsimg.com/isteam/ip/df7e9160-bfca-4da0-a3f3-7fc06c7ad2f6/93a52bbb-a67f-4e2b-88b0-e62ebca9b0da.png" alt="paul anderson logo">
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <a href="https://www.wnpfpl.com/" class="d-block mb-4 h-100" target="_blank">
                  <img class="img-fluid" src="https://img1.wsimg.com/isteam/ip/df7e9160-bfca-4da0-a3f3-7fc06c7ad2f6/95c8221f-9989-4e61-8498-64096d76622c.png" alt="wnpfpl logo">
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <a href="http://ipowerlift.net/" class="d-block mb-4 h-100" target="_blank">
                  <img class="img-fluid" src="https://img1.wsimg.com/isteam/ip/df7e9160-bfca-4da0-a3f3-7fc06c7ad2f6/bcab08f6-7d18-4751-a206-fd4bf8f16905.jpg" alt="ipowerlift logo">
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <a href="https://adel.wada-ama.org/" class="d-block mb-4 h-100" target="_blank">
                  <img class="img-fluid" src="https://img1.wsimg.com/isteam/ip/df7e9160-bfca-4da0-a3f3-7fc06c7ad2f6/WADA.png" alt="WADA logo">
                </a>
            </div>
        </div>

        <!--
            I split this into a seperate row, since that is how you have it https://strengthandpowerhalloffame.org/sponsors
            otherwise use the above pattern to insert it to the rest, and it will follow the same resizing pattern
        -->
        <div class="row">
            <div class="col-lg-3 col-offset-lg-3 col-md-4 offset-md-4 col-6 offset-3">
                <a href="https://adel.wada-ama.org/" class="d-block mb-4 h-100" target="_blank">
                  <img class="img-fluid" src="https://img1.wsimg.com/isteam/ip/df7e9160-bfca-4da0-a3f3-7fc06c7ad2f6/whyilift.jpeg" alt="Why I Lift logo">
                </a>
            </div>
        </div>
        
        <!--Contact Support Us-->
        <div class="row mt-5">
            <div class="row justify-content-md-center mb-4">
                <div class="col text-center">
                    <h1 class="text-brand-red fst-italic mb-4">Sponsor Us</h1>
                </div>
            </div>

            <div class="row justify-content-md-center">
                <div class="col ">
                    <form action="submit needs-validation" novalidate>

                        <div class="form-floating mb-3">
                            <input id="form_name"
                                class="form-control text-light bg-dark border-0 border-white border-bottom"
                                type="text" placeholder="First Last">
                            <label for="form_name" class="form-control-sm text-brand-red">Name</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input id="form_email"
                                class="form-control text-light bg-dark border-0 border-white border-bottom"
                                type="text" placeholder="youremail@domain.com">
                            <label for="form_email" class="form-control-sm text-brand-red">Email</label>
                            <div class="invalid-feedback">Please enter a valid email address.</div>
                        </div>

                        <div class="form-floating mb-3">
                            <textarea id="form_message" class="form-control text-light bg-dark border-0 border-white border-bottom"
                                style="height: 200px" placeholder="Message"></textarea>
                            <label for="form_message" class="form-control-sm text-brand-red">Message</label>
                        </div>

                        <div class="d-flex justify-content-center mt-3">
                            <button class="btn btn-lg brand-button btn-brand-red rounded-3 p-3 px-5" type="submit">SEND</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <!-- ============= CONTENT END ============== -->
    </div>
</div>