<div class="container">
    <div class="row mt-5">
        <div class="col">
            <h1 class="fs-1 text-center text-brand-red fst-italic">State Hall of Fame Requirements</h1>
        </div>
    </div>
    <div class="fs-4 text-brand-gray">

        <img class="img-fluid rounded mx-auto d-block" src="https://img1.wsimg.com/isteam/ip/df7e9160-bfca-4da0-a3f3-7fc06c7ad2f6/Maryland%20Ring.png/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:400,cg:true">

        <div class="m-4 p-3">
            <h3>Qualifications</h3>
            <p>State Hall of Fame Nominees In order to be inducted into your state's Strength and Power Hall of Fame as an athlete, a combination of the below-stated qualifications must be met. **Athlete must be a drug-free and drug-tested participant. If athletes competed before the year 1984, drug use is permissible (although not condoned or endorsed), but must be presently opposed, both publicly and privately, to its use and must not be involved in any way with banned substances. If the athlete is applying based on post 1984 credentials and accomplishments, he or she must have a resume that reflects a tested performance that meets a combination of the following criteria:</p>

            <ul class="px-5">
                <li>Athlete must have won multiple state championships</li>
                <li>Athlete has placed first in a number of national, international, or world level competitions.</li>
                <li>Presently or formerly held  state, national, or world records.</li>
                <li>Athlete won Best Lifter awards.</li>
            </ul>

            <h3>Application</h3>
            <ul class="px-5">
                <li>The athlete must submit a resume of competing in a drug tested Federation or submits a letter from an official representing a drug-tested organization or submit a certificate or other form of proof that he or she competed and met the ranking and/or placing qualifications in a drug free organization. </li>
                <li style="list-style: none;"><ul><li>An example would be a certificate or magazine article demonstrating finishing first in an organization that actively tests for substance  abuse (such as the WNPF in Powerlifting, AAU in Olympic Weightlifting). There are other forms of proof as well and will be considered for admission once received. </li></li></ul>
                <li>The athlete must demonstrate a high level of character and moral values! </li>
                <li>The athlete must have a resume that reflects an effort to grow strength and power sports. Examples of this would be conducting seminars, demonstrations, coaching, engaging in charity events, and other things of the like. </li>
            </ul>
            <div class="col-12 text-center m-3">
                <button type="button" class="btn btn-outline-brand-red text-uppercase p-3 m-2"><strong>Competitor</strong> Nomination Form</button>
                <button type="button" class="btn btn-outline-brand-red text-uppercase p-3 m-2"><strong>Contributor</strong> Nomination form</button>
            </div>

            <p class="text-secondary fst-italic">The Strength and Power Hall of Fame Selection Committee is under no obligation to induct any applicant. Although the selection committee strives to be fair, the process of applicant review remains somewhat subjective, and perceptions differ. It will take the Selection Committee up to eight weeks to review a submitted nomination.  Applicants are  notified if they have been admitted into the Strength and Power Hall of Fame.</p>

        </div>
    </div>
</div>
</div>