<article class="row mt-5">
    <aside class="col-12 col-lg-4">
        <img class="img-thumbnail" src="http://172.100.212.195/atlas/resources/images/HOF2/Powerlifting.jpg" alt="paul anderson logo">
    </aside>
    <section class="col-12 col-lg-8">
        <header class="fs-2 text-brand-red">2019 Strength and Power HoF inductee Jim Pope</header>
        <small class="text-secondary">
            Author: <span id="article_author">charlie d</span> | 
            Created:<span id="article_created_date">Sat Mar 20 09:18:37 EDT 2021</span> | 
            Last Updated: <span id="article_last_updated">Sat Jun 19 11:30:15 EDT 2021 </span>
        </small>
        <div id="article_content" class="mt-3" style="min-height: 30em">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci harum praesentium sed accusamus ratione possimus, ea voluptatibus, dignissimos reiciendis in aliquid sapiente expedita eaque quisquam minus ab a iure consequuntur? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci harum praesentium sed accusamus ratione possimus, ea voluptatibus, dignissimos reiciendis in aliquid sapiente expedita eaque quisquam minus ab a iure consequuntur?</p>
            <ul>
                <li> 1999- Police And Fire National Championship (Equip) / Open Record / 45-49 Age Group- SHW/125+ weight class / Squat- 2000lbs/907.2kg</li>
                <li> 1999- Police And Fire National Championship (Equip) / Open Record / 45-49 Age Group- SHW/125+ weight class / Squat- 2000lbs/907.2kg</li>
                <li> 1999- Police And Fire National Championship (Equip) / Open Record / 45-49 Age Group- SHW/125+ weight class / Squat- 2000lbs/907.2kg</li>
                <li> 1999- Police And Fire National Championship (Equip) / Open Record / 45-49 Age Group- SHW/125+ weight class / Squat- 2000lbs/907.2kg</li>
            </ul>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci harum praesentium sed accusamus ratione possimus, ea voluptatibus, dignissimos reiciendis in aliquid sapiente expedita eaque quisquam minus ab a iure consequuntur?</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci harum praesentium sed accusamus ratione possimus, ea voluptatibus, dignissimos reiciendis in aliquid sapiente expedita eaque quisquam minus ab a iure consequuntur?</p>
        </div>
    </section>
</article>