extends partials/layout.pug
block head 
    title Bio Form
block content 
    // ============= CONTENT START ============
    include content/bio-form.html
    // ============= CONTENT END ==============