html
    head
        include ./partials/head.pug
        style(type='text/css').
            body {
            display: -ms-flexbox;
            display: -webkit-box;
            display: flex;
            -ms-flex-pack: center;
            -webkit-box-pack: center;
            justify-content: center;
            color: #fff;
            text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
            box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
            }

            .cover-container {
            max-width: 42em;
            }

    body.background-image.text-center(style="background-blend-mode: soft-light;")
		.container-fluid.p-3
			header.header
				.container-fluid
					.row
						div
							.logo
								a(href="index.html")
									img(src="img/logo.png" alt="Logo" style="")
			article.banner-text-wrap
				.container-fluid
					.row
						.col-lg-12
							h3.banner-text.text-uppercase
								span PUT YOUR IRON GAME
								span ON DISPLAY
			h1.banner-text.text-uppercase Coming Soon