extends partials/layout.pug
block head-content
    title Why I Lift
block body-content
    nav#main-nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        a.navbar-brand(href='#')
            img(src='./img/logo.png' width='102' height='45' alt='')
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item.active
                    a.nav-link(href='#') Home
                li.nav-item
                    a.nav-link(href='#') Profiles
                li.nav-item
                    a.nav-link(href='#') Pictures
                li.nav-item
                    a.nav-link(href='#') Videos
                li.nav-item
                    a.nav-link(href='#') Mission
                li.nav-item
                    a.nav-link(href='#') Contact Us
            form.form-inline.my-2.my-lg-0
                button#login-btn.btn.btn-outline-secondary.my-2.my-sm-0(type='button') Login
                button#create-profile-btn.btn.btn-danger.my-2.my-sm-0(type='button') Create Profile
