doctype html
html(lang='en')
    include ./partials/head.pug
    block head 
        title Strength and Power Hall of Fame
    body(style="background-image: url(img/sphofPortrait.jpg)")
        .container
            include ./partials/nav.pug
            include ./partials/chat.pug
        include ./partials/cookie-policy.pug
        include ./partials/scripts-footer.pug