extends partials/layout.pug
block head 
    title Mission Statement
block content 
    // ============= CONTENT START ============
    include content/mission-statement.html
    // ============= CONTENT END ==============