extends partials/layout.pug
block head 
    title Site Directory
block content 
    // ============= CONTENT START ============
    include content/site-directory.html
    // ============= CONTENT END ==============