extends partials/layout.pug
block head 
    title Sponsors
block content 
    // ============= CONTENT START ============
    include content/sponsors.html
    // ============= CONTENT END ==============