extends partials/layout.pug
block head 
    title State Hall of Fame Requirements
block content 
    // ============= CONTENT START ============
    include content/state-hof-requirements-1.html
    // ============= CONTENT END ==============