extends partials/layout.pug
block head 
    title The Paul and Glenda Anderson Award
block content 
    // ============= CONTENT START ============
    include content/the-anderson-award.html
    // ============= CONTENT END ==============