extends partials/layout.pug

mixin articleItem( articleTitle, articleAuthor, articleDate, articleUrl )
    a.list-group-item.list-group-item-action(href=`${articleUrl}`)
        .d-flex.w-100.justify-content-between
            h5.mb-1 
                |#{articleTitle}
                small &nbsp;by #{articleAuthor}
            small #{articleDate}


block head-content
    title Why I Lift - New Profile
    style(type='text/css').
        .card-title{ color: #000}
block page-content
    //- https://codepen.io/juff03/pen/OXaXRG
    //- https://www.mockplus.com/blog/post/bootstrap-form-template
    //- https://getbootstrap.com/docs/4.0/examples/checkout/
    .container(style="background-color:lightgray;border-radius:.25rem;")
        .card.mb-3.bg-light
            .row.no-gutters
                .col-md-4
                    img.card-img.img-thumbnail(src="https://image.shutterstock.com/image-vector/weightlifting-weight-lifter-big-barbell-260nw-1160060548.jpg" alt="...")
                .col-md-8
                    .card-body
                        h5.card-title 2018 HoF Inductee: Artie Drechsler
                        p.card-text No other name in the world of USA Olympic Weightlifting carries more respect than that of 2019 New York and National Strength and Power Hall of Fame Inductee Artie Drechsler?and for good reason! Artie?
                        p.card-text
                            small.text-muted Author: by Bill Clark | Created: Tue Jul 31 00:19:21 EDT 2018 | Last Updated: Tue Jul 31 01:02:26 EDT 2018
