extends partials/layout.pug
block head 
    title Article Title
block content 
    // ============= CONTENT START ============
    include content/viewArticle.html
    // ============= CONTENT END ==============